@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

$primary-color: #1976D2;
$secondary-color: #f18e95;

// Helping Classes Starts

.page {
    min-height: calc(100vh - 125px);
}

.my-container {
    width: 1200px;
    margin: 0 auto;
}

.route-link {
    color: inherit;
    text-decoration: none;
}

.title-text {
    h1 {
        font-size: 38px;
        text-align: center;
        color: $primary-color;
    }
}

// Helping Classes Ends

nav {
    padding: 20px 0;
    background-color: #FFFF;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: sticky;
    top: 0;
    z-index: 5;

    .my-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    ul {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .nav-link {
        padding: 20px 10px;
        color: $secondary-color;
        text-decoration: none;
        font-size: 18px;
        font-weight: 600;
        transition: all 300ms;

        &:hover {
            color: $primary-color;
        }
    }

    .nav-logo {
        font-size: 32px;
        font-weight: 700;
        font-family: 'Alkatra';
        color: $primary-color;
        text-decoration: none;
    }
}

// Header Starts

.header {
    min-height: calc(100vh - 94px);
    background: linear-gradient(rgba(25, 118, 210, 0.5), rgba(0, 0, 0, 0.5)), url(../images/header-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    .my-container {
        padding-top: 350px;

        h1 {
            color: #FFFF;
            font-size: 54px;
        }

        span {
            font-family: 'Alkatra';
            color: $primary-color;
            display: block;
            font-size: 54px;
        }
    }
}

// Header Ends

// Blogs Section Starts

.blogs-section {
    padding-top: 80px;
}

.blogs-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
    margin: 50px 0;

    .blog-box {
        flex-basis: 30%;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        text-align: center;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 8px;
        cursor: pointer;
        transition: all 300ms;
        padding-bottom: 15px;

        &:hover {
            transform: scale(1.05);
        }
    }

    .blog-pic {
        min-height: 247px;

        img {
            width: 100%;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
        }
    }
}

// Blogs Section Ends

footer {
    text-align: center;
    // margin-top: 100px;
}

.pagination-btns {
    box-shadow: none;
}

.comments-form {
    margin-top: 100px;

    form {
        margin-top: 30px;
    }

    .comment-form-fields {
        margin-top: 20px;
    }

}

.comments-container {
    margin: 50px 0;

    .comment-row {
        border-bottom: 1px solid #3333;
        padding: 30px 0;
        margin-bottom: 5px;
    }

    .comment-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
        color: $primary-color;
    }
}

// Contact Section Starts

.contact-header {
    height: 500px;
    background: linear-gradient(rgba(25, 118, 210, 0.6), rgba(25, 118, 210, 0.6)), url(../images/Contact-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #FFFF;

    h1 {
        font-size: 54px;
        margin-bottom: 25px;
        font-family: 'Ubuntu', sans-serif;
        font-weight: 700;
    }

    p {
        font-size: 18px;
    }
}

.contact-container {
    display: flex;
    margin: 50px auto;

    .contact-form {
        flex-basis: 50%;
        padding-right: 30px;

        h1 {
            color: $primary-color;
            margin-bottom: 20px;
        }

        .form-fields {
            margin-bottom: 20px;
        }
    }

    .contact-map {
        flex-basis: 50%;
    }

}

.contact-links {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .contact-link-box {
        display: flex;
        align-items: center;
        justify-content: start;
        flex-direction: column;
        text-align: center;

        strong {
            display: block;
        }
    }
}

// Contact Section Ends

// Footer Starts
footer {
    background: -webkit-linear-gradient(0deg, $primary-color, $secondary-color);
    color: #FFFF;
    margin-top: 50px;
    padding: 40px 0;
    text-align: left;

    a {
        color: inherit;
        text-decoration: inherit;
    }
}

.footer-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    ul {
        list-style: none;

        li {
            cursor: pointer;
            transition: all 300ms;
            margin-bottom: 7px;
            font-size: 16px;
            font-weight: 300;

            &:hover {
                color: #0051ff;
            }
        }
    }

    h1 {
        font-size: 20px;
        margin-bottom: 15px;
    }
}

// Footer Ends