* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    background-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    ul {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .nav-link {
        padding: 20px 10px;
        color: inherit;
        text-decoration: none;
        font-size: 18px;
        font-weight: 600;
    }
}

.page {
    min-height: calc(100vh - 117px);
}