@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

$primary-color: #1976D2;
$secondary-color: #f18e95;

// Helping Classes Starts

.page {
    min-height: calc(100vh - 7.8125rem);
}

.my-container {
    width: 1200px;
    margin: 0 auto;
}

.route-link {
    color: inherit;
    text-decoration: none;
}

.title-text {
    h1 {
        font-size: 2.375rem;
        text-align: center;
        color: $primary-color;
    }
}

// Helping Classes Ends

nav {
    padding: 1.25rem 0;
    background-color: #FFFF;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: sticky;
    top: 0;
    z-index: 5;

    .my-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    ul {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.25rem;
    }

    .nav-link {
        padding: 1.25rem 0.625rem;
        color: $secondary-color;
        text-decoration: none;
        font-size: 1.125rem;
        font-weight: 600;
        transition: all 300ms;

        &:hover {
            color: $primary-color;
        }
    }

    .nav-logo {
        font-size: 2rem;
        font-weight: 700;
        font-family: 'Alkatra';
        color: $primary-color;
        text-decoration: none;
    }

    .menu-btn {
        display: none;
    }
}

// Header Starts

.header {
    min-height: calc(100vh - 5.875rem);
    background: linear-gradient(rgba(25, 118, 210, 0.5), rgba(0, 0, 0, 0.5)), url(../images/header-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    .my-container {
        padding-top: 21.875rem;

        h1 {
            color: #FFFF;
            font-size: 3.375rem;
        }

        span {
            font-family: 'Alkatra';
            color: $primary-color;
            display: block;
            font-size: 3.375rem;
        }
    }
}

// Header Ends

// Blogs Section Starts

.blogs-section {
    padding-top: 5rem;
}

.blog-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    .blog-tabs {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 30px 0;
    }
}

.blogs-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2.5rem;
    margin: 3.125rem 0;

    .blog-box {
        flex-basis: 30%;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        text-align: center;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 8px;
        cursor: pointer;
        transition: all 300ms;
        padding-bottom: 0.9375rem;

        p {
            color: $primary-color;
        }

        &:hover {
            transform: scale(1.05);
        }
    }

    .blog-pic {
        // min-height: 15.4375rem;

        img {
            width: 100%;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            aspect-ratio: 16/9;
        }
    }
}

// Blogs Section Ends

.pagination-btns {
    box-shadow: none;
}

.comments-form {
    margin-top: 3.125rem;

    form {
        margin-top: 1.875rem;
    }

    .comment-form-fields {
        margin-top: 1.25rem;
    }

}

.comments-container {
    margin: 3.125rem 0;

    .comment-row {
        border-bottom: 1px solid #3333;
        padding: 1.875rem 0;
        margin-bottom: 5px;
    }

    .comment-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 0.625rem;
        color: $primary-color;

        p {
            margin: 0;
        }
    }
}

// Contact Section Starts

.contact-header {
    height: 31.25rem;
    background: linear-gradient(rgba(25, 118, 210, 0.6), rgba(25, 118, 210, 0.6)), url(../images/Contact-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #FFFF;

    h1 {
        font-size: 3.375rem;
        margin-bottom: 1.5625rem;
        font-family: 'Ubuntu', sans-serif;
        font-weight: 700;
    }

    p {
        font-size: 1.125rem;
    }
}

.contact-container {
    display: flex;
    margin: 3.125rem auto;

    .contact-form {
        flex-basis: 50%;
        padding-right: 1.875rem;

        h1 {
            color: $primary-color;
            margin-bottom: 1.25rem;
        }

        .form-fields {
            margin-bottom: 1.25rem;
        }
    }

    .contact-map {
        flex-basis: 50%;

        iframe {
            width: 100%;
            height: 100%;
        }
    }

}

.contact-links {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .contact-link-box {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        text-align: center;

        strong {
            display: block;
        }
    }
}

// Contact Section Ends

// Footer Starts
footer {
    background: -webkit-linear-gradient(0deg, $primary-color, $secondary-color);
    color: #FFFF;
    margin-top: 3.125rem;
    padding: 2.5rem 0;
    text-align: left;

    a {
        color: inherit;
        text-decoration: inherit;
    }
}

.footer-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1.25rem;

    ul {
        list-style: none;

        li {
            cursor: pointer;
            transition: all 300ms;
            margin-bottom: 0.4375rem;
            font-size: 1rem;
            font-weight: 300;

            &:hover {
                color: #0051ff;
            }
        }
    }

    h1 {
        font-size: 1.25rem;
        margin-bottom: 0.9375rem;
    }
}

// Footer Ends

// Post Page Starts

.post-page {
    margin-top: 3.125rem;

    .title-text {
        h1 {
            font-size: 2rem;
        }
    }

    h2 {
        font-size: 1.25rem;
        margin-top: 1.25rem;
    }

    p {
        margin-bottom: 0.75rem;
        line-height: 1.75rem;
    }

    .post-img {
        margin: 3.125rem auto;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            max-width: 100%;
        }
    }
}

// Post Page Ends

// Error Page Starts

.error-page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

// Error Page Ends

// Media Querry
@media (max-width: 1250px) {
    html {
        font-size: 90%;
    }

    .my-container {
        width: 1000px;
    }
}

@media (max-width: 1050px) {
    html {
        font-size: 80%;
    }

    .blogs-container {
        .blog-pic {
            min-height: unset;
        }
    }

    .my-container {
        width: 90%;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 75%;
    }

    .blogs-container {
        .blog-box {
            flex-basis: 47%;
        }
    }

    .signup-box {
        width: 90%;
    }

    nav {
        .menu-btn {
            display: unset;
        }

        .nav-btns {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1.25rem;
        }

        .my-container {
            position: relative;
        }

        .nav-links-container {
            display: none;
        }

        .nav-container-mobile {
            position: absolute;
            left: 0;
            top: 5.5rem;
            background-color: #FFFF;
            width: 100%;
            padding: 1.75rem 0;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

            ul {
                flex-direction: column;

                .nav-link {
                    font-size: 1.5rem;
                }
            }
        }
    }

    .contact-container {
        flex-wrap: wrap;
        gap: 1.875rem;

        .contact-form {
            flex-basis: 100%;
            padding-right: 0;
        }

        .contact-map {
            flex-basis: 100%;
        }
    }

    .contact-links {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 1.875rem;

        .contact-link-box {
            flex-basis: 30%;
        }
    }


}

@media (max-width: 600px) {
    html {
        font-size: 70%;
    }

    .blogs-container {
        .blog-box {
            flex-basis: 100%;
        }
    }

    .contact-links {
        justify-content: center;

        .contact-link-box {
            flex-basis: 47%;
        }
    }
}

@media (max-width: 400px) {
    .footer-col {
        flex-basis: 100%;
    }
}