@import url("https://fonts.googleapis.com/css2?family=Alkatra:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.page {
  min-height: calc(100vh - 125px);
}

.my-container {
  width: 1200px;
  margin: 0 auto;
}

.route-link {
  color: inherit;
  text-decoration: none;
}

.title-text h1 {
  font-size: 38px;
  text-align: center;
  color: #1976D2;
}

nav {
  padding: 20px 0;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: sticky;
  top: 0;
  z-index: 5;
}
nav .my-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
nav .nav-link {
  padding: 20px 10px;
  color: #f18e95;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  transition: all 300ms;
}
nav .nav-link:hover {
  color: #1976D2;
}
nav .nav-logo {
  font-size: 32px;
  font-weight: 700;
  font-family: "Alkatra";
  color: #1976D2;
  text-decoration: none;
}

.header {
  min-height: calc(100vh - 94px);
  background: linear-gradient(rgba(25, 118, 210, 0.5), rgba(0, 0, 0, 0.5)), url(../images/header-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.header .my-container {
  padding-top: 350px;
}
.header .my-container h1 {
  color: white;
  font-size: 54px;
}
.header .my-container span {
  font-family: "Alkatra";
  color: #1976D2;
  display: block;
  font-size: 54px;
}

.blogs-section {
  padding-top: 80px;
}

.blogs-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
  margin: 50px 0;
}
.blogs-container .blog-box {
  flex-basis: 30%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 300ms;
  padding-bottom: 15px;
}
.blogs-container .blog-box:hover {
  transform: scale(1.05);
}
.blogs-container .blog-pic {
  min-height: 247px;
}
.blogs-container .blog-pic img {
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

footer {
  text-align: center;
}

.pagination-btns {
  box-shadow: none;
}

.comments-form {
  margin-top: 100px;
}
.comments-form form {
  margin-top: 30px;
}
.comments-form .comment-form-fields {
  margin-top: 20px;
}

.comments-container {
  margin: 50px 0;
}
.comments-container .comment-row {
  border-bottom: 1px solid rgba(51, 51, 51, 0.2);
  padding: 30px 0;
  margin-bottom: 5px;
}
.comments-container .comment-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  color: #1976D2;
}

.contact-header {
  height: 500px;
  background: linear-gradient(rgba(25, 118, 210, 0.6), rgba(25, 118, 210, 0.6)), url(../images/Contact-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}
.contact-header h1 {
  font-size: 54px;
  margin-bottom: 25px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
}
.contact-header p {
  font-size: 18px;
}

.contact-container {
  display: flex;
  margin: 50px auto;
}
.contact-container .contact-form {
  flex-basis: 50%;
  padding-right: 30px;
}
.contact-container .contact-form h1 {
  color: #1976D2;
  margin-bottom: 20px;
}
.contact-container .contact-form .form-fields {
  margin-bottom: 20px;
}
.contact-container .contact-map {
  flex-basis: 50%;
}

.contact-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contact-links .contact-link-box {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  text-align: center;
}
.contact-links .contact-link-box strong {
  display: block;
}

footer {
  background: -webkit-linear-gradient(0deg, #1976D2, #f18e95);
  color: white;
  margin-top: 50px;
  padding: 40px 0;
  text-align: left;
}
footer a {
  color: inherit;
  text-decoration: inherit;
}

.footer-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.footer-container ul {
  list-style: none;
}
.footer-container ul li {
  cursor: pointer;
  transition: all 300ms;
  margin-bottom: 7px;
  font-size: 16px;
  font-weight: 300;
}
.footer-container ul li:hover {
  color: #0051ff;
}
.footer-container h1 {
  font-size: 20px;
  margin-bottom: 15px;
}/*# sourceMappingURL=ihtisham.css.map */