/* Base style */
.policy-page body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

.policy-page .bg {
    background-image: url('../images/policy-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 900px;
    background-attachment: fixed;
}

.policy-page .bg h1 {
    color: #ccc;
    text-align: center;
    font-size: 90px;
    text-shadow: 2px 2px 5px black;
}

.policy-page .bg p {
    color: #ccc;
    text-align: center;
    padding: 10px 500px 0px 500px;
    font-size: 20px;
    text-shadow: 2px 2px 1px black;
}

.policy-page .sec-1 .row{
    display: flex;
    justify-content: center;
    padding: 150px;
    background-color: #e3dcd2;
}

.policy-page .sec-1 .row-gap{
    padding-left: 50px;
}

.policy-page .info{
    height: 500px;
    border: 5px solid rgb(109, 70, 25);
}

.policy-page .info-border{
    height: 504px;
    border: 2px solid rgb(116, 116, 116);
}

.policy-page .sec-1 h2, p {
    text-align: center;
    padding-top: 20px;
    color: #332f29 ;
}

.policy-page .sec-2 {
    background-image: url('../images/security.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 700px;
}

.policy-page .sec-2 h2 {
    color: aliceblue;
    text-align: center;
    font-size: 30px;
    padding: 100px 1100px 0px 30px ;
    text-shadow: 2px 2px 5px black;
    margin-top: auto;
}

.policy-page .sec-2 p {
    color: aliceblue;
    text-align: center;
    font-size: 20px;
    padding: 10px 1100px 10px 30px ;
    text-shadow: 2px 2px 4px black;
}

.policy-page .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.policy-page .sec-3{
    background-color: #161513;
}
.policy-page .sec-3 h2{
    margin: 0;
    padding-top: 50px;
    color: aliceblue;
    text-align: center;
}
.policy-page .sec-3 p{
    color: aliceblue;
    padding-bottom: 50px;
}

.policy-page h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
}

.policy-page h2 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 20px;
}

.policy-page p {
    margin-bottom: 20px;
}

.policy-page ul {
    margin-bottom: 20px;
}

.policy-page ul li {
    margin-bottom: 10px;
}

.user-table .search {
    border: 1px rgb(0 0 0 / 15%) solid; 
    width: 100%;
    padding: 4px;
    border-radius: 3px;
}

.user-table input::placeholder {
    padding: 5px;
}